<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Not Found</title>
</head>
<body background="http://localhost:5000/storage/pokemon404.jpg" style=" background-attachment: fixed; background-size: 50%; background-repeat: no-repeat; background-position: center;">
    <form action="http://localhost:5000/", method="GET">
        <input type="submit" value="Kembali"/>
    </form>
</body>
</html>